<br>
<div class="container">

  <div class="reminder-item col media py-3"
  *ngFor="let item of taskList">

    <div class="mr-3">
      <button class="task-delete btn btn-sm"
      (click)="handleDelete(item)">
        <fa-icon icon="times"></fa-icon>
      </button>
    </div> <!-- delete button-->

    <div class="media-body">
      <div class="d-flex">
        <span class="border">{{item.taskName}} </span>
        <span class="border ml-auto">{{item.dueDate | date: "dd/MM"}} </span>
      </div>

      <div class="container border">
        <span class="task-desc">{{item.taskDesc}}</span>
      </div>

    </div> <!-- item info body -->

  </div> <!-- item -->
</div> <!-- reminderlist -->
