<!--The content below is only a placeholder and can be replaced.-->
<main class="page bg-white" id="petratings">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">
        <div class="container">

          <app-add
          (addEvt)="addRem($event)"></app-add>
          <app-list
          [taskList]="theList"
          (deleteEvt)="deleteRem($event)"
          ></app-list>

        </div>
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</main><!-- main -->
