<form id="addreminder" novalidate
(ngSubmit)="handleAdd(remForm.value)"
#remForm="ngForm"
> <!-- remForm gets all the ngModel stuff.-->
  <div class="form-group">
    <label for="taskName">Task Name</label>
    <input type="text" class="form-control" name="taskName" placeholder="Enter task name" ngModel>
  </div>
  <div class="form-group">
    <label for="taskDesc">Task Description</label>
    <textarea class="form-control" name="taskDesc" rows="4" cols="80" placeholder="Description" ngModel></textarea>
  </div>
  <div class="form-group">
    <label for="dueDate">Due date</label>
    <input type="date" class="form-control" name="dueDate" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
